# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

# Temporary files:
tmp/
*.npz


*.code-workspace
/.luarc.json

data/
npy_charge_dicts/
**/nohup.out
**/.vscode
**/.ipynb_checkpoints
**/log.txt
**/params.json
**/.png
**/.pickle
**/metric_data.json

**/model.pt
**/model.pth

mains/runs

.venv
**/nohup.out
**/trajectory.pdb
**/traj.pdb