# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

ckpt/
old_experiments/
outputs/
reproducility/*.yaml
reproducility/*.json
job.sh

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pdf
*.tar.gz
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

notes.md

*/mdout.mdp

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

# Temporary files:
tmp/

*.npz
*.png
*.out
*.err
*.json


*.code-workspace
/.luarc.json

models/
wandb/
old_wandb/
checkpoints/
lightning_logs/

old_src/
data/
runs/

# do not ignore data/ in grappa/src/grappa/data:
!src/grappa/data/
!src/grappa/models/
!config/data
!data/published_datasets.csv
!models/published_models.csv

esp_data/
data_backup/
npy_charge_dicts/
**/nohup.out
**/nohup2.out
**/.vscode
**/.ipynb_checkpoints
**/log.txt
**/params.json
**/eval_data.json
**/rmse_data.json
**/.png
**/.pickle
**/metric_data.json
**/mdout.mdp

**/model.pt
**/model.pth

*.clean
*.png
*.pickle
**/psi4-calc.dat
**/timer.dat


.venv
**/nohup.out
**/trajectory.pdb
**/traj.pdb

*scratch*
*info.out*


# exceptions:
!dataset_creation/get_espaloma_split/te_smiles.json
!dataset_creation/get_espaloma_split/vl_smiles.json
!docs/figures/*.png
!examples/dataset_creation/*/example_data*.npz

examples/dataset_creation/*/*.pdb

**.gro**
**.top**
**.itp**
**.log**
**.tpr**
**.trr**
**.edr**


dist/