numpy<=1.26.4
pandas
scipy
pyyaml
pydantic
torchdata==0.7.1
matplotlib
wandb
networkx
seaborn
tqdm
charset-normalizer
hydra-core
torch==2.0.0
dgl==2.1.0
rdkit==2023.9.1
lightning>=2.3.3
pytest
gmxtop
